@model SHWY.Model.DB.Codes
@{
    ViewBag.Title = "CodeEdit";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<form id="formCodeEdit">
    <table class="table table-bordered">
        <tr>
            <td>
                字典代码：
            </td>
            <td>@Html.TextBoxFor(p => p.Code, new { @class = "easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>
                字典显示名称：
            </td>
            <td>@Html.TextBoxFor(p => p.Text, new { @class = "easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>
                显示状态：
            </td>
            <td>@Html.DropDownListFor(p => p.Status, ViewBag.StatusList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
        </tr>
    </table>
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.TypeId)
</form>
