@model SHWY.Model.DB.PersonTask
@{
    ViewBag.Title = "TaskPublishEdit";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<form id="formTaskPublishEidt">
    <table>
        <tr>
            <td style="padding-left:20px;">JIRID:</td>
            <td>@Html.TextBoxFor(p => p.JIRID, new { @class = "easyui-textbox", data_options = "required:true" })</td>
            <td style="padding-left:20px;">项目:</td>
            <td>@Html.DropDownListFor(p => p.itemID, ViewBag.ItemList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
            <td style="padding-left:20px;">产品:</td>
            <td>@Html.DropDownListFor(p => p.prodId, ViewBag.ProdList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">任务类型:</td>
            <td>@Html.DropDownListFor(p => p.TaskType, ViewBag.TaskTypeList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
            <td style="padding-left:20px;">当前状态:</td>
            <td>@Html.DropDownListFor(p => p.taskStatus, ViewBag.TaskStatusList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
            <td style="padding-left:20px;">预期完成时间:</td>
            <td>@Html.TextBoxFor(p => p.predDeadTime, new { @class = "easyui-datetimebox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">任务描述:</td>
            <td colspan="5">@Html.TextBoxFor(p=>p.detail,new { @class= "easyui-textbox", data_options = "multiline:true,required:true", style="width:100%;height:50px;" })</td>
        </tr>
    </table>
    <input type="hidden" name="MenuId" value="@Model.ID" />
</form>


