@model SHWY.Model.DB.Sys_Menu
@{
    ViewBag.Title = "EditMenu";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<form id="formMenuEidt">
    <table>
        <tr>
            <td>菜单名称:</td>
            <td>@Html.TextBoxFor(p => p.MenuName, new { @class = "easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>父级菜单:</td>
            <td>@Html.DropDownListFor(p=>p.ParentId,ViewBag.parentMenuList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;"})</td>
        </tr>
        <tr>
            <td>菜单URL:</td>
            <td>@Html.TextBoxFor(p => p.MenuUrl, new { @class = "easyui-textbox" })</td>
        </tr>
        <tr>
            <td>排序ID:</td>
            <td>@Html.TextBoxFor(p => p.MenuSortID, new { @class = "easyui-numberbox" })</td>
        </tr>
    </table>
    <input type="hidden" name="MenuId" value="@Model.MenuId" />
</form>
