@model SHWY.Model.DB.ServerIp
@{
    ViewBag.Title = "ServerIpEdit";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<script type="text/javascript">
    function ItemOnSelect(record) {
        var partyID = record.value;
        BindCombobox(partyID);
    }
    function BindCombobox(partyID) {
        $("#sid").combobox({
            url: '/Server/GetServersByPartyID?partyID=' + partyID,
            valueField: 'sid',
            textField: 'name',
            editable: false,
            required: true,
            onBeforeLoad: function (para) {
                $("#sid").combobox("clear");
            },
            onLoadSuccess:function(){
                if(@Model.sid!=0){
                    var data=$("#sid").combobox("getData");
                    if(data.length>0){
                        $(data).each(function(index,obj){
                            if(obj.sid==@Model.sid)
                                $("#sid").combobox("select",@Model.sid);
                        });

                    }
                }
            }
        });
        $("#ipid").combobox({
            url: '/Server/GetIpAddressByPartyID?partyID=' + partyID,
            valueField: 'ipid',
            textField: 'ipv4address',
            editable: false,
            required: true,
            onBeforeLoad: function (para) {
                $("#ipid").combobox("clear");
            },
            onLoadSuccess:function(){
                if(@Model.ipid!=0){
                    var data=$("#ipid").combobox("getData");
                    if(data.length>0){
                        $(data).each(function(index,obj){
                            $("#ipid").combobox("select",@Model.ipid);
                        });
                   
                    }
                }
            }
        });
    }
</script>
<form id="formServerIPEidt">
    <table>
        <tr>
            <td>甲方公司</td>
            <td>@Html.DropDownListFor(p => p.partyID, ViewBag.PartyList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false,onSelect:function(rec){ItemOnSelect(rec)}", style = "width:170px;" })</td>
        </tr>
        <tr>
            <td>服务器</td>
            <td>
                @Html.TextBoxFor(p => p.sid)

            </td>
            <td></td>
        </tr>
        <tr>
            <td>IP地址</td>
            <td>
                @Html.TextBoxFor(p => p.ipid)
            </td>
        </tr>
    </table>
</form>
