@model SHWY.Model.DB.ApiUrl
@{
    ViewBag.Title = "SendAPi";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<link href="~/Content/jsonFormatter/jsonFormater.css" rel="stylesheet" />
<script src="~/Content/jsonFormatter/jsonFormater.js"></script>




<script type="text/javascript">
    $(function () {
        var url = $("#txtWebApiUrl").combobox('getValue');
        $("#txtUrl").textbox({
            multiline: true,
            value: url + '@Model.Url'
        });
    });
    function SendApi(urlID) {

        var url = $("#txtWebApiUrl").combobox('getValue');
        var urlPara = "";
        var txts = $("input[name='txtParas']");
        var paraData = {};
        $.each(txts, function (index, obj) {
            var ename = $(this).attr("enamessss");
            var value = $(this).val();
            if (index == 0)
                urlPara += ename + "=" + value + "";
            else
                urlPara += "&" + ename + "=" + value + "";

        });
        var index = 0;
        $.ajax({
            url: '/ApiMana/SendAPi',
            type: 'POST',
            dataType: "json",
            data: { urlID: urlID, urlPara: urlPara, url: url },
            beforeSend: function () {
                $('#progressbar').progressbar({
                    value: 60
                });
            },
            success: function (result) {
                $('#progressbar').progressbar({
                    value: 100
                });
                var options = {
                    dom: '#container' //对应容器的css选择器
                };
                var jf = new JsonFormater(options); //创建对象
                jf.doFormat(result); //格式化json
            }
        });
    }
</script>
<form id="formApiSend">
    <div id="progressbar" style="width:400px;"></div>
    <div>
        <span>
            <input type="text" id="txtUrl" style="width:530px;height:50px;" />
        </span>
        <span>
            <input type="button" value="Send" style="height:50px;width:100px;" onclick="SendApi('@Model.UrlID')" />
        </span>
    </div>
    <table>
        @if (Model.apiParas.Count == 0)
        {
            <tr>
                <td colspan="4">
                    该接口未设置输入参数
                </td>
            </tr>
        }
        @for (int i = 0; i < Model.apiParas.Count; i++)
        {
            <tr>
                <td>
                    @Model.apiParas[i].EName ( @Model.apiParas[i].CName )
                </td>
                <td>
                    <input type="text" enamessss="@Model.apiParas[i].EName" name="txtParas" />
                </td>
            </tr>
        }

        @Html.HiddenFor(p => p.UrlID)
    </table>
    <div id='container'></div>
</form>
