
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    <link id="easyuiTheme" href="~/Content/jquery-easyui-1.6.7/themes/@ViewData["easyuiTheme"]/easyui.css" rel="stylesheet" />
    @Styles.Render("~/Content/EasyUiCss")
    @Scripts.Render("~/bundles/jqueryEasyUi")
    @Scripts.Render("~/bundles/CommonJS")
    <script type="text/javascript">
    </script>
</head>
<body class="easyui-layout">
    @RenderBody()
</body>
</html>
