<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    <link id="easyuiTheme" href="~/Content/jquery-easyui-1.6.7/themes/@ViewData["easyuiTheme"]/easyui.css" rel="stylesheet" />
    @Styles.Render("~/Content/EasyUiCss")
    @Scripts.Render("~/bundles/jqueryEasyUi")
    @Scripts.Render("~/bundles/CommonJS")
</head>
<body>
    @RenderBody()
    <input type="hidden" id="user_buttons" value="@Session["user_buttons"]" />
</body>
</html>
