<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    <link id="easyuiTheme" href="~/Content/jquery-easyui-1.6.7/themes/@ViewData["easyuiTheme"]/easyui.css" rel="stylesheet" />
    @Styles.Render("~/Content/EasyUiCss")
    @Scripts.Render("~/bundles/jqueryEasyUi")
    @Scripts.Render("~/bundles/CommonJS")
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <style type="text/css">
        #tab_Content .tabs-panels > .panel > .panel-body {
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $.post("/Account/GetSessionUser", "", function (result) {
                var temp = $('#lay').layout('panel', 'center');
                //2、给区域面板title赋值
                temp.panel('setTitle', "当前用户：" + result.Name);
                //设置用户默认的主题
                $("#select_changeTheme ").combobox('setValue', result.Themes);
            });
            $("#aLoginOut").click(function () {
                $.messager.confirm('Confirm', 'Are you sure to exit this system?', function (r) {
                    if (r) {
                        window.location.href = "/Account/Login";
                    }
                });
            });
        });
    </script>
</head>
<body id="lay" class="easyui-layout">
    <div data-options="region:'north'" style="height:56px;">
        @Html.Partial("_PartialHeader")
    </div>
    <div data-options="region:'west',split:true" title='菜单' style="width:200px">
        @*@Html.Partial("_PartialMenu")*@
        @{Html.RenderAction("GetMenuListPartialView", "Menu");}
    </div>
    <div data-options="region:'center',title:'当前用户：',iconCls:'icon-man'">
        <div id="tab_Content" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="待办事项" style="padding:5px;overflow:auto;">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
