@model SHWY.Model.DB.ProdServerDeploy
@{
    ViewBag.Title = "ProdServerEdit";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<script type="text/javascript">
    function ItemOnSelect(record) {
        var partyID = record.value;
        $("#itemid").combobox({
            url: '/Items/GetItemListByPartyID?partyID=' + partyID,
            valueField: 'ItemID',
            textField: 'NAME',
            editable: false,
            required: true,
            onBeforeLoad: function (para) {
                $("#itemid").combobox("clear");
            },
            onLoadSuccess:function(){
                if('@Model.itemid'!=""){
                    var data=$("#itemid").combobox("getData");
                    if(data.length>0){
                        $(data).each(function(index,obj){
                            if(obj.ItemID=='@Model.itemid')
                                $("#itemid").combobox("select",'@Model.itemid');
                        });

                    }
                }
            }
        });

        $("#serverid").combobox({
            url: '/Server/GetServersByPartyID?partyID=' + partyID,
            valueField: 'sid',
            textField: 'name',
            editable: false,
            required: true,
            onBeforeLoad: function (para) {
                $("#serverid").combobox("clear");
            },
            onLoadSuccess:function(){
                if(@Model.serverid!=0){
                    var data=$("#serverid").combobox("getData");
                    if(data.length>0){
                        $(data).each(function(index,obj){
                            if(obj.sid==@Model.serverid)
                                $("#serverid").combobox("select",@Model.serverid);
                        });

                    }
                }
            }
        });
    }
</script>
<form id="formProdServerEidt">
    <table>
        <tr>
            <td style="padding-left:20px;">甲方公司:</td>
            <td>@Html.DropDownListFor(p => p.partyID, ViewBag.PartyList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false,onSelect:function(rec){ItemOnSelect(rec)}", style = "width:170px;" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">项目:</td>
            <td>@Html.TextBoxFor(p => p.itemid)</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">产品:</td>
            <td>@Html.DropDownListFor(p => p.prodid, ViewBag.ProdList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">服务器:</td>
            <td>@Html.TextBoxFor(p => p.serverid)</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">端口:</td>
            <td>@Html.TextBoxFor(p => p.port, new { @class = "easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">通讯协议:</td>
            <td>@Html.DropDownListFor(p => p.porttype, ViewBag.ProtTypeList as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", data_options = "editable:false", style = "width:170px;" })</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">备注:</td>
            <td>@Html.TextBoxFor(p => p.remark, new { @class = "easyui-textbox", data_options = "multiline:true", style = "width:300px;height:50px;" })</td>
        </tr>
    </table>
    @Html.HiddenFor(p => p.id)
</form>

